nav a:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
  border-bottom: 2px solid black;
}

.active {
  border-bottom: 2px solid black;
}

@media (max-width: 767px) {
  .active {
    background-color: rgb(224, 223, 223);
    border: none;
  }
}

.hide {
  transform: translateY(-100%);
  transition: all ease-in 0.5s;
}
